<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://kit.fontawesome.com/85681c5f1c.js" crossorigin="anonymous"></script>
    <title>Track Transport System</title>

    {% block css_files %}
        <link rel="stylesheet" href="{% static 'css/main.css' %}">
    {% endblock %}
</head>
<body>

    <div class="main">
        <section class="banner">
        
                <div class="nav">
                    <h3 id="logo"><span>Truck Transport</span> System</h3>
                    <a href="">Login</a>
                </div>
                <div class="banner_text">
                    <p >Urubuga ruhuza abacuruzi , abaguzi
                        n’abikorezi b’ibicuruzwa.</p>
                </div>           
            
        </section>
        <section class="body">
            <h4>Bamwe mubikorezi dukorana nabo</h4>
            <div class="profiles">
                <div class="card">
                    <div class="crad_img">
                        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQrjzfCh8IdcSA-LnFQ7NRXuDrdhHF6jCpEAQ&usqp=CAU" alt="">
                    </div>
                    <div class="crad_details">
                        <p>Kamali Pierre  12/01/2021</p>
                        <p>Ikinyabiziga:   Toyota E</p>
                        <p>Umubare :       2</p>
                    </div>
                    <div class="crad_description">
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Magni, perferendis.
                        Lorem ipsum dolor, sit amet consectetur adipisicing.
                    </div>
                </div>
                <div class="card">
                    <div class="crad_img">
                        <img src="https://images.unsplash.com/photo-1534011056808-50c1c6082fe7?ixid=MnwxMjA3fDB8MHxzZWFyY2h8MXx8bWluaSUyMGJ1c3xlbnwwfHwwfHw%3D&ixlib=rb-1.2.1&w=1000&q=80" alt="">
                    </div>
                    <div class="crad_details">
                        <p>Kamali Pierre  12/01/2021</p>
                        <p>Ikinyabiziga:   Toyota E</p>
                        <p>Umubare :       2</p>
                    </div>
                    <div class="crad_description">
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Magni, perferendis.
                        Lorem ipsum dolor, sit amet consectetur adipisicing.
                    </div>
                </div>
                <div class="card">
                    <div class="crad_img">
                        <img src="https://3.imimg.com/data3/OV/VI/MY-9370836/motor-cycle-delivery-box-500x500.jpeg" alt="">
                    </div>
                    <div class="crad_details">
                        <p>Kamali Pierre  12/01/2021</p>
                        <p>Ikinyabiziga:   Toyota E</p>
                        <p>Umubare :       2</p>
                    </div>
                    <div class="crad_description">
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Magni, perferendis.
                        Lorem ipsum dolor, sit amet consectetur adipisicing.
                    </div>
                </div>
            </div>
        </section>
        <footer class="footer">
            <i  class="fab fa-facebook-f"></i>
            <i  class="fab fa-twitter"></i>
            <i  class="fas fa-envelope"></i>
        </footer>

    </div>
    
</body>
</html>